<div *ngIf="cartProducts.length > 0; else loading" class="card-wrap cart-page">
    <div class="cart-title">
        <h2>Ваш заказ</h2>
    </div>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Тип</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Фото</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cartProduct of cartProducts; let i = index">
                <td>{{i + 1}}</td>
                <td>{{cartProduct.type}}</td>
                <td>{{cartProduct.name}}</td>
                <td>
                    <div class="descr" [innerHTML]="cartProduct.description"></div>
                </td>
                <td>{{cartProduct.price}}$</td>
                <td [innerHTML]="cartProduct.photo" class="photo"></td>
                <td>
                    <div class="form-btn">
                        <button mat-button color="primary" class="remove-btn"
                            (click)="delete(cartProduct)"><a>Удалить</a>
                        </button></div>


                </td>

            </tr>

        </tbody>


    </table>
    <b class="total-price">Всего к оплате: {{totalPrice}}$</b>


    <div class="delivery-form">
        <div class="cart-title">
            <h2>Доставка:</h2>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit()">


            <div class="cart-form-wrap">

                <mat-form-field appearance="outline" class="custom-input">
                    <mat-label for="name">Имя</mat-label>
                    <input matInput formControlName="name" id="name" placeholder="Ваше имя" autocomplete="name">
                    <mat-error class="error" id="requiredEmailError" *ngIf="form.controls['name'].hasError('required')">
                        Введите ваше имя
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="custom-input">
                    <mat-label for="phone">Номер телефона</mat-label>
                    <input matInput formControlName="phone" id="phone" placeholder="Ваш номер телефона"
                        autocomplete="phone">
                    <mat-error class="error" id="requiredEmailError"
                        *ngIf="form.controls['phone'].hasError('required')">
                        Введите ваш номер телефона
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="custom-input">
                    <mat-label for="address">Адрес</mat-label>
                    <input matInput formControlName="address" id="address" placeholder="Адрес доставки"
                        autocomplete="address">
                    <mat-error class="error" id="requiredEmailError"
                        *ngIf="form.controls['address'].hasError('required')">
                        Введите адрес доставки
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="custom-input">
                    <mat-label>Способ оплаты</mat-label>
                    <mat-select formControlName="payment">
                        <mat-option value="Cash">Наличными</mat-option>
                        <mat-option value="Card">Картой</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" class="custom-input">
                    <mat-label for="price">Цена продукта</mat-label>
                    <input matInput formControlName="price" id="price" placeholder="Название продукта"
                        autocomplete="price">
                    <mat-error class="error" id="requiredEmailError"
                        *ngIf="form.controls['price'].hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field> -->
                <div class="form-btn">
                    <button mat-raised-button type="submit" color="primary"
                        [disabled]="form.invalid || submitted">Заказать</button>
                </div>
            </div>

        </form>
    </div>
</div>
<ng-template #loading>

    <h2 class="text">Ваша корзина пуста, пожалуйста сделайте ваш первый заказ)</h2>
</ng-template>