table {
    border-spacing: 0;
    width: 100%;
    td {
        text-align: center;
        padding-top: 20px;
    }
    thead {
        background-color: #ededed;
    }
    th {
        padding: 15px;
    }
    p {
        white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 290px;
    }
    
}
.cart-page {
    display: block;
}
.total-price {
    border-bottom: 1px solid  #0afd0a;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.photo {
    p { 
        img {
            width: 100px !important;
        }
    }
    
}

.descr {
    max-height: 100px;
    overflow-y: auto;
}
.text {
    text-align: center;
    padding-top: 200px;
}
.cart-title {
    margin-bottom: 30px;
} 