table {
    border-spacing: 0;
    width: 100%;
    td {
        text-align: center;
        padding-top: 20px;
    }
    thead {
        background-color: #ededed;
    }
    th {
        padding: 15px;
    }
    p {
        white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 290px;
    }
    
}
.cart-page {
    display: block;
}
.total-price {
    border-bottom: 1px solid  #0afd0a;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.photo {
    p { 
        img {
            width: 100px !important;
        }
    }
    
}

.descr {
    max-height: 100px;
    overflow-y: auto;
}
.text {
    text-align: center;
    padding-top: 200px;
}
.cart-title {
    margin-bottom: 30px;
} 
.cart-form-wrap {
    h2 {
        margin-bottom: 20px;
    }
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    border-radius: 7px;
    padding: 19px;
    box-shadow: 4px 5px 12px black;
}
.form-btn {
    margin-top: 20px;
}
.custom-input {
    width: 100%;
    margin-bottom: 15px;
}
.error {
    padding-top: 15px;
    &:nth-child(2) {
      padding-top: 0;
    }
  }

  .form-btn {
    display: flex;
    justify-content: flex-end;
    .mat-raised-button.mat-primary.mat-button-disabled {
      background-color: rgba(0, 0, 0, 0.12) !important;
    }
    
      .mat-raised-button.mat-primary {
        background-color: black;
      }
    
  }

  .delivery-form {
    margin-bottom: 50px;
  }
  
  .added {
      background-color: #0afd0a;
      color: white;
      padding: 15px;
      margin-bottom: 20px;
      margin-top: 20px;
      text-align: center;
      font-weight: 500;
  }