.logo {
  padding: 30px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  a {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
  }
}
.menu {
  padding: 10px;
  background-color: #ffffff;
  ul {
    margin-top: 10px;
  }
  li {
    margin-bottom: 20px;
    display: flex;
    &:last-child {
      margin-bottom: 0;
    }
    list-style: none;
    a {
      text-decoration: none;
      color: #000000;
      font-size: 18px;
      border: 1px solid #575656;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.199);
      }
    }
  }
}
.content-wrap {
  display: flex;
  background-color: #949494;
  .menu {
    width: 20%;
    height: 100vh;
  }
}
.container {
  max-width: 1000px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
  background-color: #949494;
  width: 100%;
}

.active {
  background-color: springgreen;
}
.wrap {
  margin-top: 20px;
}
