<div class="header">
    <div class="logo"><a href="">YourTech</a><a [routerLink]="['cart']" (click)="setType('Cart')">Корзина
            <shopping-cart></shopping-cart>
        </a></div>
</div>
<div class="content-wrap">
    <div class="menu">
        <ul>
            <li routerLinkActive="active">
                <div class="light"></div><a [routerLink]="['phones']">Смартфоны</a>
            </li>

            <li routerLinkActive="active">
                <div class="light"></div><a [routerLink]="['tablet']" (click)="setType('Tablet')">Планшеты</a>
            </li>
            <li routerLinkActive="active">
                <div class="light"></div><a [routerLink]="['laptop']" (click)="setType('Laptop')">Ноутбуки</a>
            </li>
            <li routerLinkActive="active">
                <div class="light"></div><a [routerLink]="['home-appliance']"
                    (click)="setType('Home-appliances')">Домашняя техника</a>
            </li>
            <li routerLinkActive="active">
                <div class="light"></div><a [routerLink]="['game']" (click)="setType('Games')">Игры</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="wrap">
            <router-outlet></router-outlet>

        </div>
    </div>



</div>