<div class="header">
    <div class="logo"><a href="">Logo</a></div>
</div>
<div class="content-wrap">
    <div class="menu">
        <ul>
            <li routerLinkActive="active"><a [routerLink]="['phones']" (click)="setType('Phone')">Смартфоны</a></li>
            <li routerLinkActive="active"><a [routerLink]="['tablet']">Планшеты</a></li>
            <li routerLinkActive="active"><a [routerLink]="['laptop']" (click)="setType('Laptop')">Ноутбуки</a></li>
            <li routerLinkActive="active"><a [routerLink]="['home-appliance']">Домашняя техника</a></li>
            <li routerLinkActive="active"><a [routerLink]="['game']">Игры</a></li>
            <li routerLinkActive="active"><a [routerLink]="['cart']" (click)="setType('Cart')">Корзина</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="wrap">
            <router-outlet></router-outlet>

        </div>
    </div>



</div>