<div class="card-wrap">
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
    <app-phone-page></app-phone-page>
</div>