.phone-info {
  display: flex;
}
.form-btn {
  display: flex;
  justify-content: flex-end;
}

.card-info {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  .title {
    margin-bottom: 20px;
  }
}
.photo-phone-info {
  img {
    max-width: 420px;
  }
}
