<div class="card-info" *ngIf="product$ | async as product; else loading">
    <div class="title" [innerHTML]="product.name">

    </div>
    <div class="phone-info">
        <div class="photo-phone-info" [innerHTML]="product.photo">

        </div>
        <div class="description-info">
            <quill-view-html [content]="product.description"></quill-view-html>
            <!-- <div class="display">
                Дисплей <span>6</span>
            </div>
            <div class="screen-resolution">
                Диагональ экрана <span>.8"</span>
            </div>
            <div class="camera">
                Разрешение экрана <span>3040х1440</span>
            </div>
            <div class="camera">
                Камера <span>12 Мп + 16 Мп + 12 Мп + VGA</span>
            </div>
            <div class="number-core">
                Количество ядер <span>8</span>
            </div>
            <div class="internal-memory">
                Внутренняя память <span>256 ГБ</span>
            </div>
            <div class="protection">
                Стандарт защиты<span>IP68</span>
            </div> -->
        </div>
    </div>
    <div class="form-btn">
        <button>Купить</button>
    </div>
</div>

<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>