<div class="card-info">
    <div class="title">
        Samsung Galaxy Note 10 Lite 6/128GB Silver
    </div>
    <div class="phone-info">
        <div class="photo-phone-info">
            <img src="https://i.allo.ua/media/catalog/product/cache/1/image/425x295/602f0fa2c1f0d1ba5e241f914e856ff9/g/a/galaxynote10lite_front_pen_auraglowf.jpg"
                alt="">
        </div>
        <div class="description-info">
            <div class="display">
                Дисплей <span>6</span>
            </div>
            <div class="screen-resolution">
                Диагональ экрана <span>.8"</span>
            </div>
            <div class="camera">
                Разрешение экрана <span>3040х1440</span>
            </div>
            <div class="camera">
                Камера <span>12 Мп + 16 Мп + 12 Мп + VGA</span>
            </div>
            <div class="number-core">
                Количество ядер <span>8</span>
            </div>
            <div class="internal-memory">
                Внутренняя память <span>256 ГБ</span>
            </div>
            <div class="protection">
                Стандарт защиты<span>IP68</span>
            </div>
        </div>
    </div>
    <div class="form-btn">
        <button>Купить</button>
    </div>
</div>