form {
  border: 1px solid;
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 8px;
  .card-title {
    margin-bottom: 20px;
  }
}

.custom-input {
  width: 100%;
  margin-bottom: 25px;
}
.form-btn {
  display: flex;
  justify-content: flex-end;
  ::ng-deep.mat-raised-button.mat-primary.mat-button-disabled {
    background-color: rgba(0, 0, 0, 0.12) !important;
  }
  ::ng-deep {
    .mat-raised-button.mat-primary {
      background-color: black;
    }
  }
}

.wrap {
  .error {
    padding-top: 15px;
    &:nth-child(2) {
      padding-top: 0;
    }
  }
}

.alert {
  background-color: red;
  color: #ffff;
  padding: 10px;
  margin-bottom: 20px;
}
.alert-info {
  background-color: rgb(126, 123, 123);
  color:#ffff;
  padding: 10px;
  margin-bottom: 20px;
}
