.photo-phone {
  max-width: 200px;
  img {
    width: 100%;
  }
}
.button-form {
  display: flex;
  justify-content: space-between;
}

.description {
  max-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 0px 20px;
}

