<div class="card">
    <div class="title" [innerHTML]="product.name">
        <!-- {{product.name}} -->
    </div>
    <div class="photo-phone" [innerHTML]="product.photo">
        <!-- {{product.photo}} -->
    </div>
    <div class="description" [innerHTML]="product.description">
        <!-- <div class="display">
            Дисплей <span>6</span>
        </div>
        <div class="screen-resolution">
            Диагональ экрана <span>.8"</span>
        </div>
        <div class="camera">
            Разрешение экрана <span>3040х1440</span>
        </div>
        <div class="camera">
            Камера <span>12 Мп + 16 Мп + 12 Мп + VGA</span>
        </div>
        <div class="number-core">
            Количество ядер <span>8</span>
        </div>
        <div class="internal-memory">
            Внутренняя память <span>256 ГБ</span>
        </div>
        <div class="protection">
            Стандарт защиты<span>IP68</span>
        </div> -->
        <!-- {{product.description}} -->
    </div>
    <div class="product-price">{{product.price}}$</div>
    <div class="">
        <div class="button-form">
            <button mat-raised-button [routerLink]="['/cart']" type="submit" class="buy" color="primary"
                (click)="addProduct(product)">Купить</button>
            <button mat-raised-button type="submit" class="open" color="primary"
                [routerLink]="['/product-info', product.id]">Открыть</button>
        </div>
    </div>

</div>